table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
// tr:nth-of-type(odd) { 
// 	background: #eee; 
// }
th.uno { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
th.dos { 
  background: rgb(119, 117, 117); 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}

.div_centrado{
  display: flex;
  justify-items: center;
  font-size: 1.1rem;
}

ion-badge{
  padding-top: 5px;
}

.center_azul{
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color:rgb(25, 25, 235);
}
.center_rojo{
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color:rgb(219, 140, 12);
}

ion-segment-button:hover{
  border: 1px solid #3880ff;
}

.subtitulo{
  font-size: 8px;
  color: green;
  margin-top: -15px;
}

.centrar{
  text-align: center;
}

@media
only screen and (max-width: 728px),
(min-device-width: 768px) and (max-device-width: 728px)  {

  /* Force table to not be like tables anymore */
  table .secundaria , thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { border: 1px solid #ccc; margin: 0 0 1rem 0; }

  tr:nth-child(odd) {
    background: #ccc;
  }
  
  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  .colorletra{
    color:white;
    background-color: #333;
  }
  /*
  Label the data
  */
  td:nth-of-type(1):before { content: "Bulto :";}
  td:nth-of-type(2):before { content: "Descripcion:"; }
  td:nth-of-type(3):before { content: "Guia Retiro:"; }
  td:nth-of-type(4):before { content: "Nro OCC :"; }
  
}

.fondo {
  color: var(--ion-color-mywhite);
}

.toolbartools{
  background-color: cornsilk;
}

