<ion-header>
  <ion-toolbar class="fondo">
    <ion-title>
      <ion-icon name="ellipsis-vertical-circle-outline" slot="start"></ion-icon>
      Detalle
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <div class="contenido ion-padding"></div>
</ion-content>

<ion-footer>
  <ion-button (click)="dismissModal();" expand="block" color="danger">Cerrar</ion-button>
</ion-footer>