.borde{
  border: 1px solid rgb(163, 158, 158);
  border-radius: 5px;
  margin: 10px;
}
.centrar{
  text-align: center;
}
.colorletra{
  color: blue;
}

/* 
	Generic Styling, for Desktops/Laptops 
	*/
	table { 
		width: 100%; 
		border-collapse: collapse; 
	}
	/* Zebra striping */
	// tr:nth-of-type(odd) { 
	// 	background: #eee; 
	// }
	th { 
		background: #333; 
		color: white; 
		font-weight: bold; 
	}
	td, th { 
		padding: 6px; 
		border: 1px solid #ccc; 
		text-align: left; 
	}

	.bordetitulo{
		padding: 3px;
		color: brown;
		font-size: 1.2rem;
	}

	/*
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/
	@media
	only screen and (max-width: 728px),
	(min-device-width: 768px) and (max-device-width: 728px)  {

	/* Force table to not be like tables anymore */
  table .secundaria , thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { border: 1px solid #ccc; margin: 0 0 1rem 0; }

  tr:nth-child(odd) {
    background: #ccc;
  }
  
  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  .colorletra{
    color:white;
    background-color: rgb(143, 139, 139);
		text-align: left;
  }
		td:nth-of-type(1):before { content: "Linc Oc"; }
		td:nth-of-type(2):before { content: "Producto"; }
		td:nth-of-type(3):before { content: "Detalles"; }
		td:nth-of-type(4):before { content: "Calidad"; }
		td:nth-of-type(5):before { content: "Cantidad"; }
		td:nth-of-type(6):before { content: "O.Compra"; }
		td:nth-of-type(7):before { content: "Ver Kit"; }
		td:nth-of-type(8):before { content: "Estado"; }
		td:nth-of-type(9):before { content: "Gestion Bultos"; }
	}

	/* Smartphones (portrait and landscape) ----------- */
	@media only screen
	and (min-device-width : 320px)
	and (max-device-width : 480px) {
		body {
			padding: 0;
			margin: 0;
			width: 320px; }
		}

	/* iPads (portrait and landscape) ----------- */
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		body {
			width: 495px;
		}
	}

	.fondo {
		color: var(--ion-color-mywhite);
	}